<div class="container">
  <%- include('../partials/header.ejs') %>
  <h1>User Login Page</h1>
  <%- include('../partials/nav.ejs') %>

          <form action="/sessions" method="POST">
            <div class="form-group">
              <a>Username: <input type="text" name="username" /></a>
            </div>
            <div class="form-group">
              <a>Password: <input type="password" name="password" /></a>
            </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
  <%- include('../partials/footer.ejs') %>
</div>
